body {
	font-family: Helvetica, Arial, sans;
	text-align: center;
	background-color: #353535;
	color: #F5F5F5;
}
#title {
	margin: 100px;
	color: #202020;
	font-size: 4em;
	font-weight: bold;
}
nav {
	position: absolute;
	top: 10px;
}
nav a {
	padding: 10px 50px; 
	color: #DDDDDD;
}
nav a:hover {
	color: #CCCCCC;
}
#content {
	position: relative;
	top: 100px;
}
footer {
	position: fixed;
	bottom: 10px;
	font-weight: bold;
	font-size: 0.75em;
	color: #202020;
}