html, body {
	margin: 0;

	background-color: hsl(126, 0%, 10%);
	color: hsl(69, 0%, 95%);

	text-align: center;
	line-height: 1.5em;
	font-size: 1.25em;

	font-family: 'Open Sans', Helvetica, sans-serif;
}

.title {
	color: hsl(143, 90%, 50%);
	
	font-family: 'Bungee', cursive;
	font-size: 3em;
}

button {
	font-size: 2em;
	padding: 1em;
	background-color: hsl(143, 90%, 50%);
	color: hsl(69, 0%, 95%);
	font-weight: bold;
	text-decoration: none;
	border: none;
	border-radius: 1em;
}