html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

.inputs {
	margin: 1em;
}

a {
	margin: 1em;
	text-decoration: none;
	padding: 1.5em;
	color: white;
	background-color: red;
	border-radius: 1em;
}